		<!-- Start Footer Section -->
		{% load static %}
		<footer class="footer-section mb-0">
			<div class="container relative">

				<div class="sofa-img">
					<!-- <img src=" " alt="Image" class="img-fluid"> -->
				</div>

			 

				<div class="row g-5 mb-5 mb-0">
					<div class="col-lg-4">
						<div class="mb-4 footer-logo-wrap"><a href="static/#" class="footer-logo">Furni<span>.</span></a></div>
						<p class="mb-4">Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. Pellentesque habitant</p>

						<ul class="list-unstyled custom-social">
							<li><a href="static/#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
							<li><a href="static/#"><span class="fa fa-brands fa-twitter"></span></a></li>
							<li><a href="static/#"><span class="fa fa-brands fa-instagram"></span></a></li>
							<li><a href="static/#"><span class="fa fa-brands fa-linkedin"></span></a></li>
						</ul>
					</div>

					<div class="col-lg-8">
						<div class="row links-wrap">
							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="static/#">About us</a></li>
									<li><a href="static/#">Services</a></li>
									<li><a href="static/#">Blog</a></li>
									<li><a href="static/#">Contact us</a></li>
								</ul>
							</div>

							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="static/#">Support</a></li>
									<li><a href="static/#">Knowledge base</a></li>
									<li><a href="static/#">Live chat</a></li>
								</ul>
							</div>

							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									
								</ul>
							</div>

							<div class="col-6 col-sm-6 col-md-3">
								 
							</div>
						</div>
					</div>

				</div>

				<div class="border-top copyright">
					<div class="row pt-4">
						<div class="col-lg-6">
							<p class="mb-2 text-center text-lg-start"> &copy;<script>document.write(new Date().getFullYear());</script></p>
						</div>

						<div class="col-lg-6 text-center text-lg-end">
							<ul class="list-unstyled d-inline-flex ms-auto">
								<li class="me-4"><a href="static/#">Terms &amp; Conditions</a></li>
								<li><a href="static/#">Privacy Policy</a></li>
							</ul>
						</div>

					</div>
				</div>

			</div>
		</footer>
		<!-- End Footer Section -->	
		<script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
		<script src="{% static 'js/tiny-slider.js'%}"></script>
		<script src="{% static 'js/custom.js'}"></script>
	</body>

</html>